flow.json
[
    {
        "id": "4ed587260e0f89d3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ec51e2afdad0dc6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f47674993c94bd09",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0b44f2e230948cf1",
        "type": "ui_group",
        "name": "CULTIVOS",
        "tab": "4ec51e2afdad0dc6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56b1dd67f79adcfa",
        "type": "ui_group",
        "name": "Agua",
        "tab": "4ec51e2afdad0dc6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d98dc7338b38c66",
        "type": "ui_tab",
        "name": "Información",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a4ba213ab91eec9",
        "type": "ui_group",
        "name": "Luz",
        "tab": "4d98dc7338b38c66",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c82cb533c96b838",
        "type": "ui_gauge",
        "z": "4ed587260e0f89d3",
        "name": "",
        "group": "0b44f2e230948cf1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PH",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#b30012",
            "#e2e600",
            "#a43acb"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 200,
        "wires": []
    },
    {
        "id": "242e41d03c0302d5",
        "type": "ui_slider",
        "z": "4ed587260e0f89d3",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "0b44f2e230948cf1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "14",
        "step": 1,
        "className": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "2c82cb533c96b838",
                "0dda24f548246131",
                "c3bc37bd5bc69b0c",
                "bb81480c2a974519"
            ]
        ]
    },
    {
        "id": "814949f44b9ce105",
        "type": "inject",
        "z": "4ed587260e0f89d3",
        "name": "Luigy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "242e41d03c0302d5"
            ]
        ]
    },
    {
        "id": "0dda24f548246131",
        "type": "ui_chart",
        "z": "4ed587260e0f89d3",
        "name": "",
        "group": "0b44f2e230948cf1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c3bc37bd5bc69b0c",
        "type": "ui_gauge",
        "z": "4ed587260e0f89d3",
        "name": "",
        "group": "56b1dd67f79adcfa",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb81480c2a974519",
        "type": "ui_form",
        "z": "4ed587260e0f89d3",
        "name": "",
        "label": "",
        "group": "56b1dd67f79adcfa",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "Cancelar",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "9fbef9d30f105cb8"
            ]
        ]
    },
    {
        "id": "e1a5a12388986282",
        "type": "inject",
        "z": "4ed587260e0f89d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "P",
        "payloadType": "str",
        "x": 330,
        "y": 540,
        "wires": [
            [
                "31d359e735b137db"
            ]
        ]
    },
    {
        "id": "31d359e735b137db",
        "type": "ui_switch",
        "z": "4ed587260e0f89d3",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3a4ba213ab91eec9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "green",
        "animate": true,
        "className": "",
        "x": 650,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9fbef9d30f105cb8",
        "type": "ui_toast",
        "z": "4ed587260e0f89d3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 460,
        "wires": []
    }
]